<%=button_to "Play Again", index_path, method: "get", params:{dictSize: (@words[0].length==5)}%>
<h1>Your Guesses</h1>
<table>
  <thead>
    <tr>
      <th colspan="2"></th>
    <tr>
  <thead>
  <tbody>
    <%@words.each_index do |word|%>
    <tr> 
      <td><%=if word<6 then "Step #{word}" else "Goal" end%>
      <td><%=@words[word]%></td>
    </tr>
    <%end%>
  </tbody>
</table>
<br>
<%=if @victory then "CONGRATULATIONS... You have won. Wow." else "Incorrect..." end %>

