html{
  color:green;
  background-color:black;
}

body{
  margin:10px 20px !important;
}

a{
  color:red;
}

hr{
  border:0;
  margin-top:10px;
  margin-bottom:20px;
  height:0;
}

hr.one{
  margin-bottom:30px;
  box-shadow:0 0 10px 3px green;
}

hr.two{
  box-shadow:0 0 10px 2px green;
}

hr.three{
  box-shadow:0 0 10px 1px green;
}

hr:after{
  content: "\00a0";
}

input[type="text"], input[type="password"], input[type="url"]{
  color: #fff;
  background-color: #333;
  border: 2px solid #fff;
}

textarea{
  color: #fff;
  background-color: #333;
  resize: none;
  border: 3px solid #fff;
}

input[type=submit]{
  background-color: #333;
  color: red;
  border-width: 3px;
  border-radius: 5px;
  border-color: green;
}

select{
  background-color:#333;
  color: red;
  border-color:green;
  border-width:3px;
}

.split form{
  display:inline-block;
}

progress{
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  color:green;
  background-color: #222;
}

progress::-webkit-progress-bar{
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  background-color: #222;
  border-radius:3px;
}

progress[value]::-webkit-progress-value{
  background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #000, #008000);

  border-radius: 2px; 
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

@-webkit-keyframes animate-stripes {
  100% { background-position: -100px 0px; }
}

@keyframes animate-stripes{
  100% { background-position: -100px 0px; }
}

.alignleft{
  float:left;
}

.alignright{
  float:right;
}
