// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body{
  margin:0.3%;
  padding:0;
  width:99.7%;
  height:100%;
}

.container{
  width: 100%;
  text-align:center;
}

.container .col{
  width:33.33333%;
  float: left;
}

.container .col:nth-child(2){
  width:33.33334%;
}

.container .col .img{
  width: 100px;
  height: 100px;
  -webkit-transition: width 1s ease, height 1s ease;
  transition: width 1s ease, height 1s ease;
}

.container .col .img:hover{
  width: 160px;
  height: 160px;
}

.img{
  width:100px;
  height:100px;
  -webkit-transition:width 1s ease, height 1s ease;
  transition: width 1s ease, height 1s ease;
}

.img:hover{
  width: 160px;
  height: 160px;
}


.newImg{
  text-align: center;
}
